#upTag{
    text-align: center;
    border: 1px;
    background-color: rgba(225,195,0,1);
    padding: 10px;
    color:  rgba(33, 33, 34, 1);
    
    
}
.caresol1{
    padding-right: 700px;
    padding-bottom: 140px;
    font-family: 'Titan One', sans-serif;
    font-size: 70px;
    
}
.caresol2{
    padding-left: 700px;
    padding-bottom: 140px;
    font-family: 'Titan One', sans-serif;
    font-size: 70px;
    
}

#navbar{
    background-color: rgba(33, 33, 34, 1);
    padding: 20px;
}
.dropdown{
    color: aliceblue;
    color: aliceblue;
}
#icon{
    padding-right: 200px;
    color: rgba(225,195,0,1);
    font-size: 30px;
    text-shadow: rgb(179, 179, 193);
    font-family: 'Permanent Marker', cursive;
}






